<div class="container">
    <div class="container-fluid">
        <h1 class="text-center">Today's News</h1>
        <ag-grid-angular
            style="width: 100%; height: 550px"
            class="ag-theme-balham"
            [accentedSort]="true"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData"
            [rowSelection]="'multiple'"
            [animateRows]="true"
            (gridReady)="onGridReady($event)"
            (rowClicked)="onRowClick($event)"
        ></ag-grid-angular>
    </div>
</div>